<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
    <servlet>
        <servlet-name>broker</servlet-name>
        <servlet-class>amartin.HyperQueue.brokerServlet</servlet-class>
        <init-param>
        	<param-name>timeout</param-name>
        	<param-value>5000</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>topics</servlet-name>
        <servlet-class>amartin.HyperQueue.topicServlet</servlet-class>
        <init-param>
        	<param-name>timeout</param-name>
        	<param-value>5000</param-value>
        </init-param>
        <init-param>
        	<param-name>topics</param-name>
        	<param-value>a,b,c</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>broker</servlet-name>
        <url-pattern>/messages/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>topics</servlet-name>
        <url-pattern>/topics</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
   <welcome-file>index.html</welcome-file>
</welcome-file-list>
</web-app>